<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!--  바닐라   -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../static/css/member.css" rel="stylesheet" />
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- 인텔리제이 -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/member.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <title>Title</title>
</head>

<body>
<div class="post-register-box-outer">
    <div class="post-register-box">
        <form>
            <div class="post-title">
                <input type="text" placeholder="제목을 입력하세요">
            </div>
            <div class="post-attachment">
                <input type="file" multiple="multiple">
            </div>
            <div class="post-content">
                <input type="text" placeholder="내용을 입력하세요">
            </div>
            <div class="post-button-bar">
                <button>등록</button>
                <button>취소</button>
            </div>
        </form>

    </div>
</div>


</body>
