
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!--  바닐라   -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../static/css/member.css" rel="stylesheet" />
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- 인텔리제이 -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/member.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <title>Title</title>
</head>
<body>
<div class="header"></div>
<div class="main-page">
    <div class="main-page-upper">
        <h1 th:text="${pageDTO.getThisPage()}+ 페이지">1</h1>
    </div>

    <div class="post-list">
        <table>
            <colgroup>
                <col style="width: 5%">
                <col style="width: 60%">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 5%">
            </colgroup>

            <th>글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일자</th>
            <th>조회수</th>

            <tr th:each="post : ${postsUsingPaging}"><!-- 첫번째 줄 시작 -->
                <td th:text="${post.id}">1</td>
                <td><a th:text="${post.title}" href="https://www.naver.com"
                       th:href="@{/post(id=${post.id})}">첫번째글입니다. 이거 클릭한번 해볼래요?</a></td>
                <!--                계정 정보 보는걸 넣으면 됨.-->
                <td><a th:text="${post.getMember().userId}" href="https://www.naver.com">김태훈</a></td>
                <td th:text="${post.getRegistrationDate()}">21.10.31</td>
                <td th:text="${post.getLookUp()}">2</td>
            </tr><!-- 첫번째 줄 끝 -->
        </table>
    </div>

    <div class="paging">
        <!-- 여기에 링크를 쿼리넣어주면 됨. 이걸로 보내면 -> getmapping에서 해당 번호 보고 알맞은 페이징을 실행. -->
<!--        임시로 숫자 변경은 없이 기본값으로 박아주고 나중에 리팩토링해서, 숫자 7~11 12~18 이런거도 만들기-->
        <div><a th:href="@{/(pagingNum=1)}"><<</a></div>
        <div><a th:href="@{/(pagingNum=${pageDTO.getThisPage()-6})}"><</a></div>
        <div><a th:href="@{/(pagingNum=${pageDTO.getEndPage()-5})}" th:text="${pageDTO.getEndPage()-5}">10</a></div>
        <div><a th:href="@{/(pagingNum=${pageDTO.getEndPage()-4})}" th:text="${pageDTO.getEndPage()-4}">20</a></div>
        <div><a th:href="@{/(pagingNum=${pageDTO.getEndPage()-3})}" th:text="${pageDTO.getEndPage()-3}">30</a></div>
        <div><a th:href="@{/(pagingNum=${pageDTO.getEndPage()-2})}" th:text="${pageDTO.getEndPage()-2}">40</a></div>
        <div><a th:href="@{/(pagingNum=${pageDTO.getEndPage()-1})}" th:text="${pageDTO.getEndPage()-1}">50</a></div>
        <div><a th:href="@{/(pagingNum=${pageDTO.getEndPage()})}" th:text="${pageDTO.getEndPage()}">60</a></div>
        <div><a th:href="@{/(pagingNum=${pageDTO.getThisPage()+6})}">></a></div>
        <div>>></div><!--구현 안할거. DB 연결해야 해서 성가심. 나중에 추가해주자.-->
<!--        사실 나중에 이 페이징 구현 부분을 아예 바꿔야함. 어차피 컨트롤러 부분이라 약식으로 만듬.-->
    </div>

</div>


</body>
</html>