<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!--  바닐라   -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../static/css/member.css" rel="stylesheet" />
    <link href="../../static/css/style.css" rel="stylesheet">

    <!-- 인텔리제이 -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/member.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <title>Title</title>
</head>

<body>
<div class="post-read-box-outer">
    <div class="post-read-box">
        <div class="read-post-title">
            <p th:text="${post.title}">이게제목입니다.</p>
            <p th:text="작성자+' : '+${post.getMember().getUserId()}">작성자</p>
        </div>
        <div class="read-post-attachment">
            다운로드 받을 수 있는 공간.
        </div>
        <div class="read-post-content">
            <div th:text="${post.content}">
                <p>ㅁ나ㅣㅓㅇ마ㅣㅓㅗ라ㅣ모라ㅣㅁ노라ㅣ모리만로마ㅣ로미ㅏㅗㄹ</p>
                <p>ㅁ나ㅣㅓㅇ마ㅣㅓㅗ라ㅣ모라ㅣㅁ노라ㅣ모리만로마ㅣ로미ㅏㅗㄹ</p>
                <p>ㅁ나ㅣㅓㅇ마ㅣㅓㅗ라ㅣ모라ㅣㅁ노라ㅣ모리만로마ㅣ로미ㅏㅗㄹ</p>
                <p>ㅁ나ㅣㅓㅇ마ㅣㅓㅗ라ㅣ모라ㅣㅁ노라ㅣ모리만로마ㅣ로미ㅏㅗㄹ</p>
                <p>ㅁ나ㅣㅓㅇ마ㅣㅓㅗ라ㅣ모라ㅣㅁ노라ㅣ모리만로마ㅣ로미ㅏㅗㄹ</p>
            </div>
        </div>

        <div class="content-box">
            <table th:border="1" th:each="comment : ${comments}">
                <colgroup>
                    <col style="width: 10%">
                    <col style="width: 10%">
                    <col style="width: 70%">
                    <col style="width: 10%">
                </colgroup>

                <tr>
                    <td th:text="${comment.getMember().getUserId()}">작성자</td>
                    <td>작2</td>
                    <td th:text="${comment.content}">내용</td>
                    <td th:text="${comment.getRegistrationDate()}">ㅁㄴㅇ</td>
                </tr>

            </table>

            <div class="content-input-box">
                <form th:action="@{/comment(commentCount=${comments.size()},postId=${post.id})}" method="post">
                    <input type="text" name="content">
                    <button>댓글 등록</button>
                </form>


            </div>
        </div>


    </div>
</div>

</body>



<!--<div class="contents-box">-->
<!--    <div class="content">-->
<!--        <div class="content-writer">작성자</div>-->
<!--        <div class="content-info">내용</div>-->
<!--        &lt;!&ndash; 내용을 클릭하면 대댓글을 달 수 있게. 댓글 다시 설계해야겠는데??? &ndash;&gt;-->
<!--        <div class="content-write-date">21.11.01</div>-->
<!--    </div>-->
<!--    <div class="reply">-->
<!--        <div class="reply-blank">-></div>-->
<!--        <div class="reply-writer">작성자</div>-->
<!--        <div class="reply-info">내용</div>-->
<!--        <div class="reply-write-date">21.11.01</div>-->
<!--    </div>-->
<!--</div>-->